$primary-color: #0A3871;
$secondary-color: #E9ECF8;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
}


body{
    background-color: $secondary-color;
}


#logo{
    position: absolute;
    left: 60px;
    top: 20px;
    width: 30px;
    height: 40px;
}

#intro-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 18rem;

    #start-game{
        background-color: $primary-color;
        width: 250px;
        height: 100px;
        border: 1px solid $primary-color;
        border-radius: 24px;
        color: white;
        font-family: 'Inter', sans-serif;
        margin-bottom: 20px;
        cursor: pointer;
        transition: transform ease 300ms;
    }

    #start-game:hover{
        transform: translateY(-0.25em);
      }
    
    #add-word{
        background-color: $secondary-color;
        border: 1px solid $primary-color;
        border-radius: 24px;
        width: 200px;
        height: 50px;
        color: $primary-color;
        font-family: 'Inter', sans-serif;
        cursor: pointer;
        transition: transform ease 300ms;
    }

    #add-word:hover{
        transform: translateY(-0.25em);
      }

}



#add-word-game{

    margin-top: 240px;
    display: none;

    .text-area-game{

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        textarea{
            font-family: 'Inter', sans-serif;
            font-size: 32px;
            color: $primary-color;
            border: 0px;
            background-color: $secondary-color;
            outline: none;
            width: 730px;
            height: 200px;
            resize: none;
        }
    }

    
    
    ::placeholder {
        color: $primary-color;
    }

    .adversory{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-right: 400px;


        p{
            font-family: 'Inter', sans-serif;
            font-size: 10px;
            opacity: 0.7;
        }
    
        svg{
            width: 10px;
            height: 10px;
        }

    }


    .buttons-addword-game{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 10px;
        

    
        #play-game-word{
            background-color: $primary-color;
            color: $secondary-color;
            border-radius: 20px;
            border: 1px solid $primary-color;
            width: 250px;
            height: 50px;
            font-family: 'Inter';
            margin-right: 10px;
            transition: transform ease 300ms;
        }
        
        #play-game-word:hover{
            transform: translateY(-0.25em);
          }
    
        #cancel-game{
            background-color: $secondary-color;
            color: $primary-color;
            border-radius: 20px;
            border: 1px solid $primary-color;
            width: 250px;
            height: 50px;
            font-family: 'Inter';
            transition: transform ease 300ms;
        }

        #cancel-game:hover{
            transform: translateY(-0.25em);
          }
    }
    .error-charac{
        text-align: center;
        margin-top: 10px;
        font-size: 15px;
        color: red;
        font-family: 'Inter', sans-serif;
    }

}

#game{

    margin-top: 150px;

    #gallow{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    #word-game{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;


        svg{
            padding-right: 10px;
        }

        #input-game{
            text-align: center;
            border: 0;
            background-color: $secondary-color;
            color: $primary-color;
            font-family: 'Inter', sans-serif;
            font-size: 30px;
            width: 25px;
            text-transform: capitalize;
        }


        .lines{



            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            margin-top: 20px;

            p{
                margin-bottom: -10px;
                font-size: 40px;
                color: $primary-color;
                font-family: 'Inter', sans-serif;
                text-align: center;
            }

        }
        

        #fail-letters{
            opacity: 0.7;
            color: black;
            font-family: 'Inter', sans-serif;
            font-size: 24px;
            letter-spacing: 20px;
        }
    }

    #buttons-game{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;

        #new-game{
            background-color: $primary-color;
            color: $secondary-color;
            border-radius: 20px;
            border: 1px solid $primary-color;
            width: 250px;
            height: 50px;
            font-family: 'Inter';
            margin-right: 10px;
            transition: transform ease 300ms;
        }

        #new-game:hover{
            transform: translateY(-0.25em);
          }

        #surrender-game{
            background-color: $secondary-color;
            color: $primary-color;
            border-radius: 20px;
            border: 1px solid $primary-color;
            width: 250px;
            height: 50px;
            font-family: 'Inter';
            transition: transform ease 300ms;
            
        }

        #surrender-game:hover{
            transform: translateY(-0.25em);
          }
    }

    #game-over{
        font-size: 40px;
        font-family: 'Inter';
        color: $primary-color;
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    #game-win{
        font-size: 40px;
        font-family: 'Inter';
        color: $primary-color;
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
    }

}


