@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E9ECF8;
}

#logo {
  position: absolute;
  left: 60px;
  top: 20px;
  width: 30px;
  height: 40px;
}

#intro-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 18rem;
}
#intro-game #start-game {
  background-color: #0A3871;
  width: 315px;
  height: 115px;
  border: 1px solid #0A3871;
  border-radius: 24px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform ease 300ms;
}
#intro-game #start-game:hover {
  transform: translateY(-0.25em);
}
#intro-game #add-word {
  background-color: #E9ECF8;
  border: 1px solid #0A3871;
  border-radius: 24px;
  width: 280px;
  height: 60px;
  color: #0A3871;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: transform ease 300ms;
}
#intro-game #add-word:hover {
  transform: translateY(-0.25em);
}

#add-word-game {
  margin-top: 240px;
  display: none;
}
#add-word-game .text-area-game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#add-word-game .text-area-game textarea {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: #0A3871;
  border: 0px;
  background-color: #E9ECF8;
  outline: none;
  width: 730px;
  height: 200px;
  resize: none;
}
#add-word-game ::-moz-placeholder {
  color: #0A3871;
}
#add-word-game :-ms-input-placeholder {
  color: #0A3871;
}
#add-word-game ::placeholder {
  color: #0A3871;
}
#add-word-game .adversory {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-right: 400px;
}
#add-word-game .adversory p {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  opacity: 0.7;
}
#add-word-game .adversory svg {
  width: 10px;
  height: 10px;
}
#add-word-game .buttons-addword-game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 10px;
}
#add-word-game .buttons-addword-game #play-game-word {
  background-color: #0A3871;
  color: #E9ECF8;
  border-radius: 20px;
  border: 1px solid #0A3871;
  width: 250px;
  height: 50px;
  font-family: "Inter";
  margin-right: 10px;
  transition: transform ease 300ms;
}
#add-word-game .buttons-addword-game #play-game-word:hover {
  transform: translateY(-0.25em);
}
#add-word-game .buttons-addword-game #cancel-game {
  background-color: #E9ECF8;
  color: #0A3871;
  border-radius: 20px;
  border: 1px solid #0A3871;
  width: 250px;
  height: 50px;
  font-family: "Inter";
  transition: transform ease 300ms;
}
#add-word-game .buttons-addword-game #cancel-game:hover {
  transform: translateY(-0.25em);
}
#add-word-game .error-charac {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  color: red;
  font-family: "Inter", sans-serif;
}

#game {
  margin-top: 150px;
}
#game #gallow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#game #word-game {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#game #word-game svg {
  padding-right: 10px;
}
#game #word-game #input-game {
  text-align: center;
  border: 0;
  background-color: #E9ECF8;
  color: #0A3871;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  width: 25px;
  text-transform: capitalize;
}
#game #word-game .lines {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}
#game #word-game .lines p {
  margin-bottom: -10px;
  font-size: 40px;
  color: #0A3871;
  font-family: "Inter", sans-serif;
  text-align: center;
}
#game #word-game #fail-letters {
  opacity: 0.7;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  letter-spacing: 20px;
}
#game #buttons-game {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#game #buttons-game #new-game {
  background-color: #0A3871;
  color: #E9ECF8;
  border-radius: 20px;
  border: 1px solid #0A3871;
  width: 250px;
  height: 50px;
  font-family: "Inter";
  margin-right: 10px;
  transition: transform ease 300ms;
}
#game #buttons-game #new-game:hover {
  transform: translateY(-0.25em);
}
#game #buttons-game #surrender-game {
  background-color: #E9ECF8;
  color: #0A3871;
  border-radius: 20px;
  border: 1px solid #0A3871;
  width: 250px;
  height: 50px;
  font-family: "Inter";
  transition: transform ease 300ms;
}
#game #buttons-game #surrender-game:hover {
  transform: translateY(-0.25em);
}
#game #game-over {
  font-size: 40px;
  font-family: "Inter";
  color: #0A3871;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}
#game #game-win {
  font-size: 40px;
  font-family: "Inter";
  color: #0A3871;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.footer {
  margin-top: 18rem;
  text-align: center;
}
.footer .credits p {
  color: #0A3871;
  font-size: 25px;
  font-family: "Inter";
}
.footer .contact {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 1px solid red;
}
.footer .contact a {
  font-family: "Inter";
  text-decoration: none;
  color: #0A3871;
  font-size: 25px;
  padding-right: 15px;
}
.footer .contact a svg {
  width: 50px;
  height: 50px;
}/*# sourceMappingURL=styles.css.map */