$primary-color: #0A3871;
$secondary-color: #E9ECF8;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: $secondary-color;
}

.oculto{
    display: none;
}

#logo{
    position: absolute;
    left: 60px;
    top: 20px;
    width: 30px;
    height: 40px;
    border: 1px solid red;
}

.intro-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid red;
    margin-top: 18rem;

    #start-game{
        background-color: $primary-color;
        width: 250px;
        height: 100px;
        border: 1px solid $primary-color;
        border-radius: 24px;
        color: white;
        font-family: 'Inter', sans-serif;
        margin-bottom: 20px;
    }
    
    #add-word{
        background-color: $secondary-color;
        border: 1px solid $primary-color;
        border-radius: 24px;
        width: 200px;
        height: 50px;
        color: $primary-color;
        font-family: 'Inter', sans-serif;
    }
}



.game{

    margin-top: 270px;

    .text-area-game{

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        textarea{
            font-family: 'Inter', sans-serif;
            font-size: 32px;
            color: $primary-color;
            border: 0px;
            background-color: $secondary-color;
            outline: none;
            width: 730px;
            height: 200px;
            resize: none;
        }
    }

    
    
    ::placeholder {
        color: $primary-color;
    }

    .adversory{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-right: 400px;


        p{
            font-family: 'Inter', sans-serif;
            font-size: 10px;
            opacity: 0.7;
        }
    
        svg{
            width: 10px;
            height: 10px;
        }

    }


    .buttons-game{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 10px;
        

    
        #play-game{
            background-color: $primary-color;
            color: $secondary-color;
            border-radius: 20px;
            border: 1px solid $primary-color;
            width: 250px;
            height: 50px;
            font-family: 'Inter';
            margin-right: 10px;
        }
    
        #cancell-game{
            background-color: $secondary-color;
            color: $primary-color;
            border-radius: 20px;
            border: 1px solid $primary-color;
            width: 250px;
            height: 50px;
            font-family: 'Inter';
            
        }
    }



}

